* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    overflow: auto;
    line-height: 2em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section, main {
    padding: 50px 100px;
}

header {
    padding: 25px;
}

.logo {
    position: absolute;
    top: 12px;
    left: 10px;
}

main {
    position: relative;
    padding: 50px;
    padding-bottom: 100px;
    background: linear-gradient(to right, rgba(140, 179, 105, 0.3), white);
}

.main-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(80, 36, 7, 0.5);
    border-radius: 25px;
}

.main-wrapper {
    padding: 25px 50px;
    background: url(../img/rebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    height: calc(90vh - 66px);
    color: white;
    position: relative;
    z-index: 3;
}

.coverbg {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 80vh;
    width: 400px;
    background-image: url(../img/coverbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    border-radius: 10px;
}

main h1 {
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

main h1 span {
    display: block;
    font-size: 1.5rem;
    margin-top: 2em;
    position: relative;
    max-width: 350px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

nav a {
    color: #8cb369;
}

nav .signin {
    padding: 10px 15px;
    background-color: #8cb369;
    color: #ffffff;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

@keyframes movement {
    from {
        right: -10vw;
    }
    to {
        right: 50vw;
    }
}

.partners {
    background-color: #5b8e7d;
    color: white;
}

.partners ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: cursive;
}

.partners h2 {
    text-transform: uppercase;
}

/* .listing {
    padding: 150px 50px;
    background-color: #8cb369;
    position: relative;
} */

/* .listing::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/coverbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
} */

.listing-bg {
    /* display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around; */
    padding: 0 50px;
}

.card {
    width: calc(33.33% - 50px);
    height: 350px;
    padding: 0;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    box-shadow: 4px 6px 8px goldenrod;
}

.over {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.card:hover .over {
    display: block;
}

.about {
    background-color: #5b8e7d;
    color: white;
    padding: 100px;
    position: relative;
}

.about h4, .contact h4 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.about h4 span {
    color: #f4a259;
}

.about h4 + div, .contact h4 + div {
    height: 3px;
    width: 50px;
    border-radius: 25%;
    background-color: #f4a259;
    margin: 0 auto;
    margin-bottom: 1em;
}

.about .ball {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 50px;
    bottom: 25px;
    border-radius: 50%;
    background-color: #f4a259;
}

.about .ball.f1 {
    right: 100px;
    width: 12px;
    height: 12px;
    bottom: 31px;
}

/* CONTACT */
.contact, .listing {
    background: linear-gradient(to bottom left, rgba(244, 226, 133, 0.5), white, rgba(244, 226, 133, 0.5));
}

form {
    display: flex;
    justify-content: space-evenly;
}

.contact h4 {
    color: #b24b51;
}

.contact h4 + div {
    background: linear-gradient(to right, #b24b51, #f4a259);
}

.contact p {
    text-align: center;
    margin-bottom: 2em;
}

textarea {
    padding: 10px;
    resize: none;
}

input, textarea {
    outline: none;
}

input[type=text], input[type=email] {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    width: 300px;
}

.submit-button {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #b24b51;
    color: white;
    transition: all 0.3s ease-in;
}

.submit-button:hover {
    background-color: transparent;
    border-color: #b24b51;
    color: black;
}

/*Styling the footer*/
.landing {
    padding: 40px 100px;
    font-size: 0.8rem;
    color: white;
    display: flex;
    background-color: #b24b51;
}

.cir-cir {
    float: left;
    margin-right: 80px;
}

.cir-cir:first-of-type {
    width: 250px;
    margin-right: 35px;
}

.cir-cir ul {
    margin: 0;
    padding: 0;
}

.cir-cir li {
    list-style-type: none;
    /* padding-bottom: 20px; */
}

.cir-cir a {
    text-decoration: none;
    color: white;
}

.cir-cir p {
    font-weight: 700;
}

.cir-cir span {
    display: block;
    margin-bottom: 35px;
}

#cont li::before {
    content: '\25a2';
    font-size: 25px;
    vertical-align: middle;
    padding-right: 10px;
}

#cont li {
    padding-bottom: 10px;
}

.cir-cir.products ul {
    columns: 2;
    column-gap: 55px;
}

.cir-cir:last-of-type {
    margin: 0;
}

.sm-icons {
    margin-top: 20px;
}

.fa-brands {
    font-size: 1em;
    margin-right: 10px;
}